@import "~bootstrap/scss/bootstrap";


:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
overflow-x: hidden;
}

#presentacion {
  background-color: #001524;
  height: 100vh;
  color: white;
}

.mellamo {
  font-size: 1rem;
  position: absolute;

}

/* Cambio de color y tamaño:hover iconos de pagina principal */
.glow-icon1{
  color: #0e76a8;
  text-shadow: 0 0 2px black;

}
.glow-icon1:hover {
  text-shadow: 0 0 2px #2196F3;
  transform: scale(1.3);
  transition: transform 0.5s ease;

}
.glow-icon2{
  color: white;
}
.glow-icon2:hover {
  color: white;
  text-shadow: 0 0 2px whitesmoke;
  transform: scale(1.3);
  transition: transform 0.5s ease;
}
.glow-icon3{
  color: #d62976;
}
.glow-icon3:hover {
  text-decoration: none;
  text-shadow: 0 0 3px #DA3E83;
  transform: scale(1.3);
  transition: transform 0.5s ease;
}

/* Animación escritura programador pagina principal */

#escritura-automatica {
  font-size: 1.2rem;
  display: block;
  width: 33ch;
  overflow: hidden;
  border-right: 0.15em solid yellow;
  white-space: nowrap;
  animation: typing 2s steps(25), blink 0.5s step-end infinite alternate;
}


@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* seccion 2 sobremi */
#sobremi {
  color: white;
  text-shadow:  0px 2px 3px #000,
  0px 2px 0px #000;
  min-height: 105vh;
  max-height: auto;
padding: 2em;
background-repeat:no-repeat;
background-color: #686B50;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1089%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(0%2c 21%2c 36%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c50 C 128%2c62.8 384%2c122 640%2c114 C 896%2c106 1024%2c6.2 1280%2c10 C 1536%2c13.8 1792%2c108.4 1920%2c133L1920 1080L0 1080z' fill='rgba(95%2c 44%2c 41%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c414 C 96%2c378.4 288%2c242.2 480%2c236 C 672%2c229.8 768%2c369 960%2c383 C 1152%2c397 1248%2c315.2 1440%2c306 C 1632%2c296.8 1824%2c330.8 1920%2c337L1920 1080L0 1080z' fill='rgba(95%2c 44%2c 41%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c478 C 96%2c494.6 288%2c561 480%2c561 C 672%2c561 768%2c477.8 960%2c478 C 1152%2c478.2 1248%2c554.8 1440%2c562 C 1632%2c569.2 1824%2c523.6 1920%2c514L1920 1080L0 1080z' fill='rgba(104%2c 107%2c 80%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c679 C 96%2c708.4 288%2c825.8 480%2c826 C 672%2c826.2 768%2c680.6 960%2c680 C 1152%2c679.4 1248%2c808 1440%2c823 C 1632%2c838 1824%2c768.6 1920%2c755L1920 1080L0 1080z' fill='rgba(104%2c 107%2c 80%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c985 C 128%2c974.2 384%2c932.2 640%2c931 C 896%2c929.8 1024%2c989.6 1280%2c979 C 1536%2c968.4 1792%2c898.2 1920%2c878L1920 1080L0 1080z' fill='rgba(104%2c 107%2c 80%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1089'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");}

.text-decoration-underline {
  text-decoration: underline yellow;
}
/* animacion perro espacial */


@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Aplica la animación a la imagen */
.floating-image {
  animation: floatImage 2s ease-in-out infinite;
}



/* seccion 3 stack */

#stack {
  color: white;
  text-shadow:  0px 2px 3px #000,
  0px 2px 0px #000;
  padding-top: 9em;
}


#stack h1 {
  text-decoration: underline yellow;
}
/* hover de lenguajes */

#html5_ico:hover {
  transition: transform 0.5s ease;
  color: #FF5722;
  transform: scale(1.3);
  text-shadow:  0px 2px 3px #000,
  0px 2px 0px #000;}
#css3_ico:hover {
  transition: transform 0.5s ease;
  color: #2196F3;
  transform: scale(1.3);
  text-shadow:  0px 2px 3px #000,
  0px 2px 0px #000;}
#js_ico:hover {
  transition: transform 0.5s ease;
  color: #FFDF00;
  transform: scale(1.3);
  text-shadow:  0px 2px 3px #000,
  0px 2px 0px #000;}
#bootstrap_ico:hover {
  transition: transform 0.5s ease;
  color: #8411F6;
  transform: scale(1.3);
  text-shadow:  0px 2px 3px #000,
  0px 2px 0px #000;}
#angular_ico:hover {
  transition: transform 0.5s ease;
  color: #D6002F;
  transform: scale(1.3);
  text-shadow:  0px 2px 3px #000,
  0px 2px 0px #000;}
#react_ico:hover {
  transition: transform 0.5s ease;
  color: #5ADAFD;
  transform: scale(1.3);
  text-shadow:  0px 2px 3px #000,
  0px 2px 0px #000;}
#git_ico:hover {
  transition: transform 0.5s ease;
  color: #F05030;
  transform: scale(1.3);
  text-shadow:  0px 2px 3px #000,
  0px 2px 0px #000;}