#proyectos {
    min-height: 120vh;
    max-height: auto;
    color: #1c1c1c;
    padding-top: 2em;
    background-repeat:no-repeat;
background-color: #E2EAFC;
}
#proyectos h1 {
    text-decoration: underline #1f7a8c;
    margin-bottom: 2em;
    margin-top: 2em;
    

  }
#tarjeta {
    background-color: #001524;
border-radius: 9px;
filter: brightness(120%);

}
#tarjeta:hover{
transform: translateY(-10px);
transition: transform 0.3s ease;

}


#contacto {
    min-height: 100vh;
    max-height: auto;
    color: whitesmoke;
    background-color: #001524;
    padding-top: 4em;
}
#footer {
    color: #E2EAFC;
    background-color: rgba(0, 21, 36, 1);
    border-top: 1px solid #1f7a8c; 
  margin-top: 6%;
}
#footer div {
padding-top: 3px;
}

#parrafo_tarjeta {
    font-size: 1.15rem;
}
#texto_icono_tarjeta {
    font-size: 0.7rem;
}

#h1_contacto {
    text-decoration: underline #1f7a8c;
    margin-bottom: 2em;
}
#form_enviar {
    width: 100px ;
    color: black;
    background-color: #E2EAFC;
}
#form_enviar:hover {
    background-color: #e2eafc8c;
}
#avion_enviar{
    opacity: 0;
}
#form_enviar:hover #avion_enviar  {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.form-group{
    padding: 7%em;
}
