/* seccion 4 proyectos */

#proyectos {
    min-height: 110vh;
    max-height: auto;
    color: #1c1c1c;
    padding-top: 1%;
    background-repeat: no-repeat;
    background-color: #E2EAFC;
}

#proyectos h1 {
    text-decoration: underline #1f7a8c;
    margin-bottom: 4%;
    margin-top: 4%;
}

#tarjeta {
    background-color: #001524;
    border-radius: 9px;
    filter: brightness(120%);
    min-height: 220px;
    max-height: auto;
}

#tarjeta:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease;
}

/* seccion 5 contacto */

#contacto {
    min-height: 100vh;
    max-height: auto;
    color: whitesmoke;
    background-color: #001524;
    padding-top: 4%;
}

/* configuracion de formulario */
form {
    margin-bottom: 130px;
}

#parrafo_tarjeta {
    font-size: 1.15rem;
}

#texto_icono_tarjeta {
    font-size: 0.7rem;
}

#h1_contacto {
    text-decoration: underline #1f7a8c;
    margin-bottom: 1em;
}

#form_enviar {
    width: 100px;
    color: black;
    background-color: #E2EAFC;
}

#form_enviar:hover {
    background-color: #e2eafc8c;
}

.form-group {
    padding-bottom: 1em;
}

/* configuracion footer */

#footer {
    color: #E2EAFC;
    min-height: auto;
    background-color: rgba(0, 21, 36, 1);
    border-top: 1px solid #1f7a8c;
margin-top: 4em;
    position: absolute;
  bottom: 0;
}



#footer_icons {
    color: white;
}
#footer_icons i:hover {
    transform: scale(1.3);
    transition: transform 0.2s ease-in;
}

.cmn-divfloat {
    position: fixed ;
    bottom: 75px;
    right: 15px;
    display: none;
    background-color: #1f7a8c;
    border-radius: 30px;


}
.cmn-btncircle {
    width: 40px ;
    height: 40px ;
    padding: 6px 0px;
    text-align: center;
}
